
body{

  margin: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  vertical-align: center;
  margin: auto;
  display: block;
  width: 100px;
  height: 50px;
  border: 5px solid red;
}

.toggle{
	border: 5px solid blue;
	width: 25px;
	height: 40px;
	float: right;

}

