* {
    box-sizing: border-box;
}


.columns {
    float: left;
    width: 33.3%;
    padding: 10px;
}


.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: #32CD32;
    font-size: 25px;
    border: 5px solid green;
}

/* List items */
.price li {
    border: 3px solid green;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #32CD32;
    font-size: 20px;
    border: 3px solid green;
}

/* "Get Gas Here" button */
.button {
    background-color: #4CAF50;
    border: 2px solid black;
    color: lime green;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* (For smaller screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}