body
{
    font: 1em Verdana, Geneva, sans-serif;
    color: gold;
    padding: 0;
    margin: 5px;
    background-color: darkblue;
	margin: 0 auto;
}
div
{
    padding: 0;
    margin: 0 auto;
}
button
{
    cursor: pointer;	
}
.hide
{
    display: none;
}


/****************************************************************************/
/* Game */
/****************************************************************************/

.error
{
    display: none;
    color: red;
}

#game
{
    width: 100%;
    position: relative;
    margin: 4px;
	margin: 0 auto;
	text-align: center;
}

#game>header
{
    padding: 0 8px;
    font-size:3em;
    background-color:darkblue;
	margin: 0 auto;
    text-align: center;
    text-shadow: 4px 4px blue;
}

#main
{
    position: relative;
    padding: 6px;
    margin-bottom: 4px;
    background-color: #222;
    background: -webkit-linear-gradient(top, blue, #223);
    background: -moz-linear-gradient(top, blue, #223);
    background: -ms-linear-gradient(top, blue, #223);
    background: linear-gradient(top, blue, #223);
	margin: 0 auto;
    text-align: center;
    border: 10px solid gold;
    border-radius: 20px;  
}

#game button
{
    border: 3px solid goldenrod;
    border-radius: 6px;
    padding: .5em 1em;
    width: 9em;
    color: gold;
    background-color: blue;
    font: inherit;
    margin: 0 auto;
    
}

#game button:hover
{
    color: white;
    box-shadow: 0 12px 14px black;
}


