 #app
{
    background-color: #cbb;
    background: -webkit-linear-gradient(top, #cbb, #855);
    background: -moz-linear-gradient(top, #cbb, #855);
    background: -ms-linear-gradient(top, #cbb, #855);
    background: linear-gradient(top, #cbb, #855);
}

#app {
	position: absolute;
	top: 2;
	bottom: 2;
	left: 2;
	right: 2;
	overflow: auto;
	margin: 6px;
	background-color: limegreen;
	background: -webkit-linear-gradient(top, limegreen, #558);
	background: -moz-linear-gradient(top, limegreen, #558);
	background: -ms-linear-gradient(top, limegreen, #558);
	background: linear-gradient(top, limegreen, #558);
}

#app>header {
	padding: 0 0.5em;
	font-size: 1.5em;
	color: black;
    background-color: green;
    text-align: center;
}

#app>footer {
	position: absolute;
	bottom: 0;
	padding: 0.25em;
	color: WhiteSmoke;
    background-color: darkgreen;
   
}

#toolbar
{
	padding: 0.75em;
	font-size: 2em;
	color: purple;
    background-color: rgba(0, 0, 0, .75);
    text-align: center;

}

#task-list .task.selected
{
	padding: 0.6em 0.5em;
	border: 2px solid darkmagenta;
	border-radius: 6px;
	background-color: lightgreen;
}